# env files
.env
.env.*
apps/api/.env
apps/web/.env

# dependencies
node_modules/

# next
.next
out

# prisma
**/node_modules/.prisma
**/node_modules/@prisma/client

# logs
*.log

# OS
.DS_Store

# builds
dist
build